In [1]:
import pandas as pd
import numpy as np

### 1.Reading a CSV

Reading csv file from local system

In [2]:
df=pd.read_csv('be.csv')

In [3]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22571,BDCQ.SEE3999A,2017.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
22572,BDCQ.SEE3999A,2017.09,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
22573,BDCQ.SEE3999A,2017.12,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
22574,BDCQ.SEE3999A,2018.03,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
22575,BDCQ.SEE3999A,2018.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN

In [4]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [5]:
df.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
22571,BDCQ.SEE3999A,2017.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
22572,BDCQ.SEE3999A,2017.09,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
22573,BDCQ.SEE3999A,2017.12,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
22574,BDCQ.SEE3999A,2018.03,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
22575,BDCQ.SEE3999A,2018.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN

Read csv file from github repo

In [6]:
link='https://github.com/AnumoyMurmu/uni.connect.bootstrap/blob/main/be.csv'
df = pd.read_csv(link)

ParserError: Error tokenizing data. C error: Expected 1 fields in line 41, saw 16

### 2. Pandas Info Function

In [ ]:
df.info()

### 3. isnull funcyion to check null values

In [ ]:
df.isnull()

In [ ]:
df.head().isnull()

In [ ]:
df.isnull().sum()

### 4. Quantile function to get the specific percentile value

In [ ]:
df.describe()

In [ ]:
df['Data_value'].quantile(.1)

### 5. Copy function

In [ ]:
de = df.copy()

In [ ]:
de.head(3)

In [ ]:
de['Period']+100

In [ ]:
de['Year+100']=de['Period']+100

In [ ]:
de

### 6. Value count functions

In [ ]:
df['Series_reference'].value_counts()

### 7.Unique and nunique fucntion

In [ ]:
df['Series_reference'].unique()

In [ ]:
df['Series_reference'].nunique()

### 8. dropna() function

In [18]:
df=pd.read_csv('pl.csv')
df

          Week  Python  Java   C++
0    4/21/2019      55  55.0  18.0
1    4/28/2019      52  50.0  16.0
2     5/5/2019      56  56.0  17.0
3    5/12/2019      56  61.0  18.0
4    5/19/2019      57  56.0  17.0
..         ...     ...   ...   ...
257  3/24/2024      79  47.0  19.0
258  3/31/2024      81  51.0  19.0
259   4/7/2024      77  45.0  18.0
260  4/14/2024      78  48.0  19.0
261  4/21/2024      71  42.0  17.0

[262 rows x 4 columns]

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(inplace=True, axis=0)

In [ ]:
df.dropna(inplace=True, axis=1)

### 9.Fillna Function

In [ ]:
mis=round(df['Java'].mean(),2)
df['Java'].fillna(mis)

In [ ]:
df['Java'].head(17)

### 10. Sample Function

In [ ]:
df

In [ ]:
df.sample()   ##generates random sample everytime

### 11. to_csv() function:

In [ ]:
data = {
    'one': pd.Series([1, 2, 3, 4]),    # Series for 'one' column
    'two': pd.Series([5, 6, 7, 8]),    # Series for 'two' column
    'three': pd.Series([9, 10, 11]),   # Series for 'three' column (with fewer values)
    'four': pd.Series([12, 13, 14, 15]),# Series for 'four' column
    'five': pd.Series([16, 17, 18, 19]) # Series for 'five' column
}

df=pd.DataFrame(data)

In [ ]:
df.to_csv('Number.csv')   ##converts to csv file

In [ ]:
df

In [ ]:
df.to_csv('Numbers.csv', index=False)

In [ ]:
df

In [ ]:

data = {
    'one': pd.Series([1, 2, 3, 4]),    # Series for 'one' column
    'two': pd.Series([5, 6, 7, 8]),    # Series for 'two' column
    'three': pd.Series([9, 10, 11]),   # Series for 'three' column (with fewer values)
    'four': pd.Series([12, 13, 14, 15]),# Series for 'four' column
    'five': pd.Series([16, 17, 18, 19]) # Series for 'five' column
}

df=pd.DataFrame(data)

df.to_csv('Num.csv', index=True)

# A Detailed pandas Profile Report

In [20]:
!pip install pandas-profiling

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas-profiling in c:\users\majhi\appdata\roaming\python\python311\site-packages (3.2.0)
Requirement already satisfied: joblib~=1.1.0 in c:\users\majhi\appdata\roaming\python\python311\site-packages (from pandas-profiling) (1.1.1)
Requirement already satisfied: scipy>=1.4.1 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (1.11.1)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (2.0.3)
Requirement already satisfied: matplotlib>=3.2.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (3.7.2)
Requirement already satisfied: pydantic>=1.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (1.10.8)
Requirement already satisfied: PyYAML>=5.0.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (6.0)
Requirement already satisfied: jinja2>=2.11.1 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (3.1.2)
Requirement already satisfied: markupsafe~=2.1.1 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (2.1.1)
Requirement already satisfied: visions[type_image_path]==0.7.4 in c:\users\majhi\appdata\roaming\python\python311\site-packages (from pandas-profiling) (0.7.4)
Requirement already satisfied: numpy>=1.16.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (1.24.3)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\majhi\appdata\roaming\python\python311\site-packages (from pandas-profiling) (0.1.12)
Requirement already satisfied: missingno>=0.4.2 in c:\users\majhi\appdata\roaming\python\python311\site-packages (from pandas-profiling) (0.5.2)
Requirement already satisfied: phik>=0.11.1 in c:\users\majhi\appdata\roaming\python\python311\site-packages (from pandas-profiling) (0.12.4)
Requirement already satisfied: tangled-up-in-unicode==0.2.0 in c:\users\majhi\appdata\roaming\python\python311\site-packages (from pandas-profiling) (0.2.0)
Requirement already satisfied: requests>=2.24.0 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (2.31.0)
Requirement already satisfied: tqdm>=4.48.2 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (4.65.0)
Requirement already satisfied: seaborn>=0.10.1 in c:\programdata\anaconda3\lib\site-packages (from pandas-profiling) (0.12.2)
Requirement already satisfied: multimethod>=1.4 in c:\users\majhi\appdata\roaming\python\python311\site-packages (from pandas-profiling) (1.11.2)
Requirement already satisfied: attrs>=19.3.0 in c:\programdata\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (22.1.0)
Requirement already satisfied: networkx>=2.4 in c:\programdata\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (3.1)
Requirement already satisfied: imagehash in c:\users\majhi\appdata\roaming\python\python311\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (4.3.1)
Requirement already satisfied: Pillow in c:\programdata\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas-profiling) (10.2.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.0.5)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (23.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas-profiling) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas-profiling) (2023.3)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\programdata\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas-profiling) (4.7.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\programdata\anaconda3\lib\site-packages (from requests>=2.24.0->pandas-profiling) (2024.2.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm>=4.48.2->pandas-profiling) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.2.0->pandas-profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\programdata\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas-profiling) (1.4.1)

In [21]:
df=pd.read_csv('pl.csv')
df

          Week  Python  Java   C++
0    4/21/2019      55  55.0  18.0
1    4/28/2019      52  50.0  16.0
2     5/5/2019      56  56.0  17.0
3    5/12/2019      56  61.0  18.0
4    5/19/2019      57  56.0  17.0
..         ...     ...   ...   ...
257  3/24/2024      79  47.0  19.0
258  3/31/2024      81  51.0  19.0
259   4/7/2024      77  45.0  18.0
260  4/14/2024      78  48.0  19.0
261  4/21/2024      71  42.0  17.0

[262 rows x 4 columns]

In [23]:
from pandas_profiling import ProfileReport
prof=ProfileReport(df)
prof.to_file(output_file='output.html')

ImportError: cannot import name 'DataError' from 'pandas.core.base' (C:\ProgramData\anaconda3\Lib\site-packages\pandas\core\base.py)

In [25]:
pip install --upgrade pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\majhi\appdata\roaming\python\python311\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
from pandas_profiling import ProfileReport
prof=ProfileReport(df)
prof.to_file(output_file='output.html')

ImportError: cannot import name 'DataError' from 'pandas.core.base' (C:\Users\majhi\AppData\Roaming\Python\Python311\site-packages\pandas\core\base.py)

In [5]:
pip install --upgrade bottleneck

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bottleneck in c:\users\majhi\appdata\roaming\python\python311\site-packages (1.3.8)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from bottleneck) (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [6]:
from pandas_profiling import ProfileReport
prof=ProfileReport(df)
prof.to_file(output_file='output.html')

ImportError: cannot import name 'DataError' from 'pandas.core.base' (C:\Users\majhi\AppData\Roaming\Python\Python311\site-packages\pandas\core\base.py)